.snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.snowflake {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.snowflake span {
  align-self: center;
}
.snowflake img {
  align-self: center;
}
.snowflake img.sf_big {
  width: 150px;
}
.snowflake img.sf_medium {
  width: 99px;
}
.snowflake img.sf_small {
  width: 61px;
}
.snowflake img.sf_min {
  width: 31px;
}

.snowflake.sf_40 {
  animation: animation-snowflake-40 linear infinite;
  animation-duration: 9.8s;
  animation-delay: -5.1s;
}

@keyframes animation-snowflake-40 {
  0% {
    left: 13%;
    top: calc(0% - 100px);
    transform: scale(1.263) rotate3d(0.75, 0.47, 0.17, 0deg);
  }
  100% {
    left: 63.8%;
    top: calc(100% + 100px);
    transform: scale(1.263) rotate3d(0.74, 0.67, 0.45, 50deg);
  }
}
.snowflake.sf_39 {
  animation: animation-snowflake-39 linear infinite;
  animation-duration: 7.4s;
  animation-delay: -3.1s;
}

@keyframes animation-snowflake-39 {
  0% {
    left: 15%;
    top: calc(0% - 100px);
    transform: scale(1.262) rotate3d(0.82, 0.47, 0.38, 0deg);
  }
  100% {
    left: 57.9%;
    top: calc(100% + 100px);
    transform: scale(1.262) rotate3d(0.21, 0.78, 0.66, -49deg);
  }
}
.snowflake.sf_38 {
  animation: animation-snowflake-38 linear infinite;
  animation-duration: 10.4s;
  animation-delay: -3.5s;
}

@keyframes animation-snowflake-38 {
  0% {
    left: 97%;
    top: calc(0% - 100px);
    transform: scale(1.183) rotate3d(0.8, 0.33, 0.02, 0deg);
  }
  100% {
    left: 91.3%;
    top: calc(100% + 100px);
    transform: scale(1.183) rotate3d(0.25, 0.59, 0.52, -35deg);
  }
}
.snowflake.sf_37 {
  animation: animation-snowflake-37 linear infinite;
  animation-duration: 8.3s;
  animation-delay: -7.9s;
}

@keyframes animation-snowflake-37 {
  0% {
    left: 9%;
    top: calc(0% - 100px);
    transform: scale(0.625) rotate3d(0.6, 0.39, 0.68, 0deg);
  }
  100% {
    left: 17.4%;
    top: calc(100% + 100px);
    transform: scale(0.625) rotate3d(0.58, 0.2, 0.11, -52deg);
  }
}
.snowflake.sf_36 {
  animation: animation-snowflake-36 linear infinite;
  animation-duration: 8.6s;
  animation-delay: -8.3s;
}

@keyframes animation-snowflake-36 {
  0% {
    left: 24%;
    top: calc(0% - 100px);
    transform: scale(1.242) rotate3d(0.46, 0.2, 0.29, 0deg);
  }
  100% {
    left: 66.5%;
    top: calc(100% + 100px);
    transform: scale(1.242) rotate3d(0.27, 0.49, 0.02, -54deg);
  }
}
.snowflake.sf_35 {
  animation: animation-snowflake-35 linear infinite;
  animation-duration: 7.4s;
  animation-delay: -5.2s;
}

@keyframes animation-snowflake-35 {
  0% {
    left: 15%;
    top: calc(0% - 100px);
    transform: scale(1.17) rotate3d(0.07, 0.72, 0.5, 0deg);
  }
  100% {
    left: 24%;
    top: calc(100% + 100px);
    transform: scale(1.17) rotate3d(0.37, 0.44, 0.07, 42deg);
  }
}
.snowflake.sf_34 {
  animation: animation-snowflake-34 linear infinite;
  animation-duration: 7.8s;
  animation-delay: -3.6s;
}

@keyframes animation-snowflake-34 {
  0% {
    left: 26%;
    top: calc(0% - 100px);
    transform: scale(0.662) rotate3d(0.27, 0.25, 0.55, 0deg);
  }
  100% {
    left: 29.4%;
    top: calc(100% + 100px);
    transform: scale(0.662) rotate3d(0.24, 0.5, 0.51, -57deg);
  }
}
.snowflake.sf_33 {
  animation: animation-snowflake-33 linear infinite;
  animation-duration: 9.7s;
  animation-delay: -11.8s;
}

@keyframes animation-snowflake-33 {
  0% {
    left: 70%;
    top: calc(0% - 100px);
    transform: scale(1.024) rotate3d(0.8, 0.74, 0.83, 0deg);
  }
  100% {
    left: 98.3%;
    top: calc(100% + 100px);
    transform: scale(1.024) rotate3d(0.43, 0.25, 0.13, 42deg);
  }
}
.snowflake.sf_32 {
  animation: animation-snowflake-32 linear infinite;
  animation-duration: 12s;
  animation-delay: -3.8s;
}

@keyframes animation-snowflake-32 {
  0% {
    left: 41%;
    top: calc(0% - 100px);
    transform: scale(1.028) rotate3d(0.63, 0.66, 0.02, 0deg);
  }
  100% {
    left: 31.9%;
    top: calc(100% + 100px);
    transform: scale(1.028) rotate3d(0.22, 0.26, 0.57, 35deg);
  }
}
.snowflake.sf_31 {
  animation: animation-snowflake-31 linear infinite;
  animation-duration: 8.2s;
  animation-delay: -4s;
}

@keyframes animation-snowflake-31 {
  0% {
    left: 24%;
    top: calc(0% - 100px);
    transform: scale(1.193) rotate3d(0.93, 0.16, 0.44, 0deg);
  }
  100% {
    left: 27.5%;
    top: calc(100% + 100px);
    transform: scale(1.193) rotate3d(0.41, 0.3, 0.45, -56deg);
  }
}
.snowflake.sf_30 {
  animation: animation-snowflake-30 linear infinite;
  animation-duration: 8.2s;
  animation-delay: -10.5s;
}

@keyframes animation-snowflake-30 {
  0% {
    left: 84%;
    top: calc(0% - 100px);
    transform: scale(0.966) rotate3d(0.71, 0.16, 0.9, 0deg);
  }
  100% {
    left: 106.4%;
    top: calc(100% + 100px);
    transform: scale(0.966) rotate3d(0.13, 0.91, 0.22, -33deg);
  }
}
.snowflake.sf_29 {
  animation: animation-snowflake-29 linear infinite;
  animation-duration: 9.6s;
  animation-delay: -10.9s;
}

@keyframes animation-snowflake-29 {
  0% {
    left: 19%;
    top: calc(0% - 100px);
    transform: scale(1.12) rotate3d(0.5, 0.19, 0.03, 0deg);
  }
  100% {
    left: 26.4%;
    top: calc(100% + 100px);
    transform: scale(1.12) rotate3d(0.58, 0.93, 0.28, -41deg);
  }
}
.snowflake.sf_28 {
  animation: animation-snowflake-28 linear infinite;
  animation-duration: 6.3s;
  animation-delay: -11.1s;
}

@keyframes animation-snowflake-28 {
  0% {
    left: 65%;
    top: calc(0% - 100px);
    transform: scale(0.821) rotate3d(0.85, 0.45, 0.24, 0deg);
  }
  100% {
    left: 78.2%;
    top: calc(100% + 100px);
    transform: scale(0.821) rotate3d(0.55, 0.14, 0.95, -47deg);
  }
}
.snowflake.sf_27 {
  animation: animation-snowflake-27 linear infinite;
  animation-duration: 6.4s;
  animation-delay: -9.2s;
}

@keyframes animation-snowflake-27 {
  0% {
    left: 7%;
    top: calc(0% - 100px);
    transform: scale(0.882) rotate3d(0.34, 0.72, 0.5, 0deg);
  }
  100% {
    left: -9.3%;
    top: calc(100% + 100px);
    transform: scale(0.882) rotate3d(0.73, 0.08, 0.47, -53deg);
  }
}
.snowflake.sf_26 {
  animation: animation-snowflake-26 linear infinite;
  animation-duration: 7.9s;
  animation-delay: -7.8s;
}

@keyframes animation-snowflake-26 {
  0% {
    left: 88%;
    top: calc(0% - 100px);
    transform: scale(1.324) rotate3d(0.12, 0.34, 0.13, 0deg);
  }
  100% {
    left: 120.6%;
    top: calc(100% + 100px);
    transform: scale(1.324) rotate3d(0.85, 0.59, 0.13, -43deg);
  }
}
.snowflake.sf_25 {
  animation: animation-snowflake-25 linear infinite;
  animation-duration: 7.7s;
  animation-delay: -2.3s;
}

@keyframes animation-snowflake-25 {
  0% {
    left: 76%;
    top: calc(0% - 100px);
    transform: scale(1.06) rotate3d(0.28, 0.65, 0.82, 0deg);
  }
  100% {
    left: 108.3%;
    top: calc(100% + 100px);
    transform: scale(1.06) rotate3d(0.99, 0.85, 0.19, 32deg);
  }
}
.snowflake.sf_24 {
  animation: animation-snowflake-24 linear infinite;
  animation-duration: 8.3s;
  animation-delay: -2.2s;
}

@keyframes animation-snowflake-24 {
  0% {
    left: 31%;
    top: calc(0% - 100px);
    transform: scale(1.322) rotate3d(0.58, 0.36, 0.15, 0deg);
  }
  100% {
    left: 35.7%;
    top: calc(100% + 100px);
    transform: scale(1.322) rotate3d(0.07, 0.5, 0.18, -48deg);
  }
}
.snowflake.sf_23 {
  animation: animation-snowflake-23 linear infinite;
  animation-duration: 8.5s;
  animation-delay: -11.9s;
}

@keyframes animation-snowflake-23 {
  0% {
    left: 12%;
    top: calc(0% - 100px);
    transform: scale(0.601) rotate3d(0.18, 0.65, 0.23, 0deg);
  }
  100% {
    left: 22.1%;
    top: calc(100% + 100px);
    transform: scale(0.601) rotate3d(0.65, 0.38, 0.05, -55deg);
  }
}
.snowflake.sf_22 {
  animation: animation-snowflake-22 linear infinite;
  animation-duration: 9.6s;
  animation-delay: -8.7s;
}

@keyframes animation-snowflake-22 {
  0% {
    left: 9%;
    top: calc(0% - 100px);
    transform: scale(0.887) rotate3d(0.1, 0.4, 0.29, 0deg);
  }
  100% {
    left: 44.2%;
    top: calc(100% + 100px);
    transform: scale(0.887) rotate3d(0.23, 0.08, 0.4, 56deg);
  }
}
.snowflake.sf_21 {
  animation: animation-snowflake-21 linear infinite;
  animation-duration: 9s;
  animation-delay: -6s;
}

@keyframes animation-snowflake-21 {
  0% {
    left: 84%;
    top: calc(0% - 100px);
    transform: scale(1.162) rotate3d(0.27, 0.91, 0.07, 0deg);
  }
  100% {
    left: 80.8%;
    top: calc(100% + 100px);
    transform: scale(1.162) rotate3d(0.43, 0.31, 0.02, 42deg);
  }
}
.snowflake.sf_20 {
  animation: animation-snowflake-20 linear infinite;
  animation-duration: 10.5s;
  animation-delay: -5.8s;
}

@keyframes animation-snowflake-20 {
  0% {
    left: 27%;
    top: calc(0% - 100px);
    transform: scale(0.665) rotate3d(0.23, 0.58, 0.03, 0deg);
  }
  100% {
    left: 80.5%;
    top: calc(100% + 100px);
    transform: scale(0.665) rotate3d(0.37, 0.28, 0.93, -55deg);
  }
}
.snowflake.sf_19 {
  animation: animation-snowflake-19 linear infinite;
  animation-duration: 11.3s;
  animation-delay: -6.2s;
}

@keyframes animation-snowflake-19 {
  0% {
    left: 67%;
    top: calc(0% - 100px);
    transform: scale(0.636) rotate3d(0.7, 0.32, 0.07, 0deg);
  }
  100% {
    left: 97.3%;
    top: calc(100% + 100px);
    transform: scale(0.636) rotate3d(0.51, 0.47, 0.56, 46deg);
  }
}
.snowflake.sf_18 {
  animation: animation-snowflake-18 linear infinite;
  animation-duration: 10s;
  animation-delay: -11.6s;
}

@keyframes animation-snowflake-18 {
  0% {
    left: 64%;
    top: calc(0% - 100px);
    transform: scale(0.982) rotate3d(0.81, 0.57, 0.59, 0deg);
  }
  100% {
    left: 116.3%;
    top: calc(100% + 100px);
    transform: scale(0.982) rotate3d(0.31, 0.32, 0.31, 37deg);
  }
}
.snowflake.sf_17 {
  animation: animation-snowflake-17 linear infinite;
  animation-duration: 7.1s;
  animation-delay: -8s;
}

@keyframes animation-snowflake-17 {
  0% {
    left: 38%;
    top: calc(0% - 100px);
    transform: scale(0.982) rotate3d(0.44, 0.16, 0.7, 0deg);
  }
  100% {
    left: 94.9%;
    top: calc(100% + 100px);
    transform: scale(0.982) rotate3d(0.09, 0.8, 0.99, -36deg);
  }
}
.snowflake.sf_16 {
  animation: animation-snowflake-16 linear infinite;
  animation-duration: 6.8s;
  animation-delay: -1s;
}

@keyframes animation-snowflake-16 {
  0% {
    left: 73%;
    top: calc(0% - 100px);
    transform: scale(0.876) rotate3d(0.4, 0.33, 0.3, 0deg);
  }
  100% {
    left: 95.9%;
    top: calc(100% + 100px);
    transform: scale(0.876) rotate3d(0.63, 0.96, 0.11, 53deg);
  }
}
.snowflake.sf_15 {
  animation: animation-snowflake-15 linear infinite;
  animation-duration: 7.1s;
  animation-delay: -0.2s;
}

@keyframes animation-snowflake-15 {
  0% {
    left: 85%;
    top: calc(0% - 100px);
    transform: scale(0.715) rotate3d(1, 0.07, 0.68, 0deg);
  }
  100% {
    left: 115.1%;
    top: calc(100% + 100px);
    transform: scale(0.715) rotate3d(0.83, 0.96, 0.05, 41deg);
  }
}
.snowflake.sf_14 {
  animation: animation-snowflake-14 linear infinite;
  animation-duration: 8.1s;
  animation-delay: -3.2s;
}

@keyframes animation-snowflake-14 {
  0% {
    left: 29%;
    top: calc(0% - 100px);
    transform: scale(1.382) rotate3d(0.9, 0.69, 0.58, 0deg);
  }
  100% {
    left: 83%;
    top: calc(100% + 100px);
    transform: scale(1.382) rotate3d(0.96, 0.19, 0.01, -33deg);
  }
}
.snowflake.sf_13 {
  animation: animation-snowflake-13 linear infinite;
  animation-duration: 9.3s;
  animation-delay: -6.9s;
}

@keyframes animation-snowflake-13 {
  0% {
    left: 16%;
    top: calc(0% - 100px);
    transform: scale(1.18) rotate3d(0.21, 0.6, 0.94, 0deg);
  }
  100% {
    left: 35%;
    top: calc(100% + 100px);
    transform: scale(1.18) rotate3d(0.28, 0.16, 0.19, -53deg);
  }
}
.snowflake.sf_12 {
  animation: animation-snowflake-12 linear infinite;
  animation-duration: 11.5s;
  animation-delay: -10.9s;
}

@keyframes animation-snowflake-12 {
  0% {
    left: 3%;
    top: calc(0% - 100px);
    transform: scale(0.693) rotate3d(0.52, 0.7, 0.59, 0deg);
  }
  100% {
    left: -7.6%;
    top: calc(100% + 100px);
    transform: scale(0.693) rotate3d(0.53, 0.33, 0.83, -39deg);
  }
}
.snowflake.sf_11 {
  animation: animation-snowflake-11 linear infinite;
  animation-duration: 7.1s;
  animation-delay: -1.6s;
}

@keyframes animation-snowflake-11 {
  0% {
    left: 68%;
    top: calc(0% - 100px);
    transform: scale(1.372) rotate3d(0.04, 0.87, 0.13, 0deg);
  }
  100% {
    left: 102%;
    top: calc(100% + 100px);
    transform: scale(1.372) rotate3d(0.39, 0.78, 0.34, -37deg);
  }
}
.snowflake.sf_10 {
  animation: animation-snowflake-10 linear infinite;
  animation-duration: 6.7s;
  animation-delay: -7.5s;
}

@keyframes animation-snowflake-10 {
  0% {
    left: 24%;
    top: calc(0% - 100px);
    transform: scale(0.949) rotate3d(0.77, 0.64, 0.14, 0deg);
  }
  100% {
    left: 77.7%;
    top: calc(100% + 100px);
    transform: scale(0.949) rotate3d(0.04, 0.46, 0.21, 45deg);
  }
}
.snowflake.sf_9 {
  animation: animation-snowflake-9 linear infinite;
  animation-duration: 9s;
  animation-delay: -3.9s;
}

@keyframes animation-snowflake-9 {
  0% {
    left: 96%;
    top: calc(0% - 100px);
    transform: scale(0.965) rotate3d(0.78, 0.45, 0.28, 0deg);
  }
  100% {
    left: 93.3%;
    top: calc(100% + 100px);
    transform: scale(0.965) rotate3d(0.28, 0.46, 0.13, 39deg);
  }
}
.snowflake.sf_8 {
  animation: animation-snowflake-8 linear infinite;
  animation-duration: 11.7s;
  animation-delay: -2.5s;
}

@keyframes animation-snowflake-8 {
  0% {
    left: 21%;
    top: calc(0% - 100px);
    transform: scale(1.384) rotate3d(0.67, 0.75, 0.11, 0deg);
  }
  100% {
    left: 4.4%;
    top: calc(100% + 100px);
    transform: scale(1.384) rotate3d(0.97, 0.65, 0.68, 32deg);
  }
}
.snowflake.sf_7 {
  animation: animation-snowflake-7 linear infinite;
  animation-duration: 11s;
  animation-delay: -1.8s;
}

@keyframes animation-snowflake-7 {
  0% {
    left: 29%;
    top: calc(0% - 100px);
    transform: scale(0.934) rotate3d(0.54, 0.92, 0.58, 0deg);
  }
  100% {
    left: 81.3%;
    top: calc(100% + 100px);
    transform: scale(0.934) rotate3d(0.38, 0.01, 0.77, -38deg);
  }
}
.snowflake.sf_6 {
  animation: animation-snowflake-6 linear infinite;
  animation-duration: 9s;
  animation-delay: -10.8s;
}

@keyframes animation-snowflake-6 {
  0% {
    left: 80%;
    top: calc(0% - 100px);
    transform: scale(0.642) rotate3d(0.62, 0.22, 0.74, 0deg);
  }
  100% {
    left: 122%;
    top: calc(100% + 100px);
    transform: scale(0.642) rotate3d(0.1, 0.77, 0.97, 59deg);
  }
}
.snowflake.sf_5 {
  animation: animation-snowflake-5 linear infinite;
  animation-duration: 12s;
  animation-delay: -2.5s;
}

@keyframes animation-snowflake-5 {
  0% {
    left: 9%;
    top: calc(0% - 100px);
    transform: scale(1.199) rotate3d(0.6, 0.76, 0.53, 0deg);
  }
  100% {
    left: 0.2%;
    top: calc(100% + 100px);
    transform: scale(1.199) rotate3d(0.14, 0.8, 0.23, -34deg);
  }
}
.snowflake.sf_4 {
  animation: animation-snowflake-4 linear infinite;
  animation-duration: 10.9s;
  animation-delay: -4s;
}

@keyframes animation-snowflake-4 {
  0% {
    left: 95%;
    top: calc(0% - 100px);
    transform: scale(0.834) rotate3d(0.25, 0.77, 0.4, 0deg);
  }
  100% {
    left: 138.6%;
    top: calc(100% + 100px);
    transform: scale(0.834) rotate3d(0.23, 0.17, 0.19, 40deg);
  }
}
.snowflake.sf_3 {
  animation: animation-snowflake-3 linear infinite;
  animation-duration: 11.5s;
  animation-delay: -0.2s;
}

@keyframes animation-snowflake-3 {
  0% {
    left: 99%;
    top: calc(0% - 100px);
    transform: scale(1.04) rotate3d(0.03, 0.11, 0.07, 0deg);
  }
  100% {
    left: 85.7%;
    top: calc(100% + 100px);
    transform: scale(1.04) rotate3d(0.46, 0.92, 0.43, 44deg);
  }
}
.snowflake.sf_2 {
  animation: animation-snowflake-2 linear infinite;
  animation-duration: 6.4s;
  animation-delay: -8.7s;
}

@keyframes animation-snowflake-2 {
  0% {
    left: 53%;
    top: calc(0% - 100px);
    transform: scale(1.087) rotate3d(0.53, 0.6, 0.03, 0deg);
  }
  100% {
    left: 108.9%;
    top: calc(100% + 100px);
    transform: scale(1.087) rotate3d(0.76, 0.19, 0.88, 47deg);
  }
}
.snowflake.sf_1 {
  animation: animation-snowflake-1 linear infinite;
  animation-duration: 10s;
  animation-delay: -5.9s;
}

@keyframes animation-snowflake-1 {
  0% {
    left: 11%;
    top: calc(0% - 100px);
    transform: scale(1.062) rotate3d(0.89, 0.91, 0.47, 0deg);
  }
  100% {
    left: -6.7%;
    top: calc(100% + 100px);
    transform: scale(1.062) rotate3d(0.29, 0.22, 0.91, 42deg);
  }
}

/*# sourceMappingURL=snowfall.css.map */
