$count: 40;
$screenOffset: 100px;
$fallDuration: 6;
$windNoise: 40;
$windSpeed: 20;
$sizeNoise: 40;
$rotation: 30;
$imageSizeBig: 150px;
$imageSizeMedium: 99px;
$imageSizeSmall: 61px;
$imageSizeMin: 31px;
$fontSize: 40px;

.snowfall {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
}

.snowflake {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;

	width: $screenOffset;
	height: $screenOffset;

	span {
		align-self: center;
	}

	img {
		align-self: center;
		&.sf_big {width: $imageSizeBig;}
		&.sf_medium {width: $imageSizeMedium;}
		&.sf_small {width: $imageSizeSmall;}
		&.sf_min {width: $imageSizeMin;}
	}
}

@while ($count > 0) {
	$left: random(100);
	$deltaLeft: random(2 * $windNoise * 10) / 10 - $windNoise + $windSpeed;
	$scale: 1 + (random(2 * $sizeNoise * 10) / 10 - $sizeNoise) / 100;

	.snowflake.sf_#{$count} {
		animation: animation-snowflake-#{$count} linear infinite;
		animation-duration: $fallDuration + random($fallDuration * 10) / 10 + s;
		animation-delay: random(2 * $fallDuration * 10) / 10 - (2 * $fallDuration) + s;
	}

	@keyframes animation-snowflake-#{$count} {
		0% {
			left: percentage($left / 100);
			top: calc(0% - #{$screenOffset});
			transform:
				scale($scale)
				rotate3d(
					random(100) / 100,
					random(100) / 100,
					random(100) / 100,
					0deg
				);
		}
		100% {
			left: percentage(($left + $deltaLeft) / 100);
			top: calc(100% + #{$screenOffset});
			transform:
				scale($scale)
				rotate3d(
					random(100) / 100,
					random(100) / 100,
					random(100) / 100,
					(random($rotation) + $rotation) * ((random(2) - 1) * 2 - 1) + deg
				);
		}
	}

	$count: $count - 1;
}