html, body {padding:0;margin:0;}

body, .scene {position:absolute;height:100%;width:100%;}

.scene {overflow:hidden;}

.bg {background:url("../images/bgs/6.jpg") no-repeat;background-size:cover;background-position:center bottom;position:absolute;width:110%;height:110%;left:-5% !important;top:-5% !important;}

.persik {position:absolute;left:50% !important;margin-left:-150px;top:60vh !important;}

.snow {position:absolute;width:100%;height:100%;left:0;top:0;}
.snow img {width:100%;position:relative;top:-100%;}

.snow.min.m_1 {animation: snow_min_1 7s linear infinite;}
.snow.min.m_1 img {top:-50%;}

.snow.min.m_2 {animation: snow_min_2 6s linear infinite;}
.snow.min.m_2 img {top:-50%;}

.snow.medium {animation: snow_medium 5s linear infinite;}
.snow.medium img {top:-100%;}

.snow.big {animation: snow_big 4s linear infinite;}
.snow.big img {top:-100%;}

.light {position:absolute;}
.light.l_1 {left:50% !important;top:20% !important;}
.light.l_2 {left:55% !important;top:20% !important;}

.sound {position:absolute;top:10px;right:10px;height:50px;width:70px;background-repeat:no-repeat;background-position:top left;cursor:pointer;}
.sound.on {background-image:url("../images/sound_off.png");}
.sound.off {background-image:url("../images/sound_on.png");}

@keyframes snow_min_1 {
    0% {top:-50%;left:0%;opacity:0;}
    10% {top:-45%;left:1%;opacity:0.5;}
    50%{top:-25%;left:5%;opacity:0.7;}
    90%{top:-10%;left:2%;opacity:0.5;}
    100%{top:0%;left:-2%;opacity:0.0;}
}

@keyframes snow_min_2 {
    0% {top:-50%;left:-2%;opacity:0;}
    10% {top:-45%;left:1%;opacity:0.4;}
    50%{top:-25%;left:4%;opacity:0.8;}
    90%{top:-10%;left:-1%;opacity:0.3;}
    100%{top:0%;left:-3%;opacity:0.0;}
}

@keyframes snow_medium {
    0% {top:-100%;left:2%;opacity:0;}
    10% {top:-90%;left:0%;opacity:0.5;}
    50%{top:-50%;left:-3%;opacity:0.7;}
    90%{top:-10%;left:-5%;opacity:0.5;}
    100%{top:0%;left:-8%;opacity:0;}
}

@keyframes snow_big {
    0% {top:-150%;left:5%;opacity:0;}
    10% {top:-130%;left:0%;opacity:0.5;}
    50%{top:-50%;left:-6%;opacity:0.7;}
    90%{top:30%;left:-12%;opacity:0.5;}
    100%{top:50%;left:-16%;opacity:0;}
}


@keyframes snow_medium_mob {
    0% {top:-100%;left:2%;opacity:0;}
    10% {top:-80%;left:0%;opacity:0.5;}
    50%{top:0%;left:-3%;opacity:0.7;}
    90%{top:80%;left:-5%;opacity:0.5;}
    100%{top:100%;left:-6%;opacity:0;}
}

@media (max-width: 480px) {
    .snow img {top:0 !important;}
}

@media (max-height: 735px) {
    .persik {top: 45vh !important;}
}
@media (max-height: 535px) {
    .persik {top: 35vh !important;}
}
@media (max-height: 440px) {
    .persik {top: 20vh !important;}
}